@model Domaine.test

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>test</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.q1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.q1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.answer1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                   
                   @Html.EditorFor(model => model.answer1, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer1, "", new { @class = "text-danger" })
              
            </div>
        </div>

       
        <div class="form-group">
            @Html.LabelFor(model => model.q2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q2, new { htmlAttributes = new { @class = "form-}-danger" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.answer2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer2, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.q3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.q3, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.answer3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer3, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer3, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.q4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.q4, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.answer4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer4, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer4, "", new { @class = "text-danger" })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.q5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.q5, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.answer5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer5, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer5, "", new { @class = "text-danger" })
               
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.q6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.q6, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.answer6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer6, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer6, "", new { @class = "text-danger" })
               
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.q7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.q7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.answer7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer7, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer7, "", new { @class = "text-danger" })
               
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.q8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.q8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.answer8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer8, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer8, "", new { @class = "text-danger" })
             
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.q9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.q9, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.answer9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer9, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer9, "", new { @class = "text-danger" })
                
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.q10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.q10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.q10, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.answer10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.EditorFor(model => model.answer10, new { htmlAttributes = new { @class = "form-}-danger" } })
                    @Html.ValidationMessageFor(model => model.answer10, "", new { @class = "text-danger" })
             
            </div>
        </div>
        


       
        <div class="form-group">
            @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.type, (SelectList)ViewData["Types"], "---- SVP selectionnez----", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
